@inherits LayoutComponentBase

<PageTitle>QuestionsStack</PageTitle>

<div class="page">
    <main>
        <div class="bg-white shadow-lg rounded-lg p-5 ">
            Navigation
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
